<div class="completed-page">

  <!-- HEADER -->
  <div class="page-header">
    <div class="title">
      <h1>Completed Bills</h1>
      <p class="subtitle" *ngIf="isAdmin">
       View bills by date range
      </p>
       <p class="subtitle" *ngIf="!isAdmin">Today's completed bills</p>
    </div>

  <div class="summary-pill" *ngIf="isAdmin">
  Cash : ₹ {{ cashTotal }}
</div>

<div class="summary-pill" *ngIf="isAdmin">
  UPI : ₹ {{ upiTotal }}
</div>

<div class="summary-pill" *ngIf="isAdmin">
  Total : ₹ {{ grandTotal }}
</div>

  </div>

  <!-- DATE FILTER (ADMIN ONLY) -->
  <div class="date-filter" *ngIf="isAdmin">
    <div class="field">
      <label>Start Date</label>
      <input type="date" [(ngModel)]="startDate">
    </div>

    <div class="field">
      <label>End Date</label>
      <input type="date" [(ngModel)]="endDate">
    </div>

    <button class="btn apply" (click)="applyDateFilter()">
      Apply Filter
    </button>
  </div>

  <!-- BILL LIST -->
  <div class="bill-grid" *ngIf="bills.length; else empty">

    <div class="bill-card" *ngFor="let b of bills">

      <!-- CARD HEADER -->
      <div class="card-top">
        <div>
          <div class="bill-no">Bill #{{ b.id }}</div>
          <div class="bill-date">
            {{ b.created_at | date:'dd MMM yyyy, hh:mm a' }}
          </div>
        </div>

        <div class="amount-block">
          <div class="bill-amount">
            ₹ {{ b.grand_total }}
          </div>

          <div class="customer-name" *ngIf="b.customer_name">
            👤 {{ b.customer_name }}
          </div>

        </div>
      </div>

      <!-- ITEMS -->
      <div class="items">
        <div class="item" *ngFor="let i of b.items">
          <span class="name">
            {{ i.name }} × {{ i.qty }}
          </span>
          <span class="price">
            ₹ {{ i.price * i.qty }}
          </span>
        </div>
      </div>

    </div>

  </div>

  <!-- PAGINATION -->
  <div class="pagination" *ngIf="totalPages > 1">
    <button (click)="prev()" [disabled]="page === 1">‹</button>

    <button
      *ngFor="let p of pages"
      (click)="goTo(p)"
      [class.active]="p === page">
      {{ p }}
    </button>

    <button (click)="next()" [disabled]="page === totalPages">›</button>
  </div>

  <!-- EMPTY -->
  <ng-template #empty>
    <div class="empty-state">
      <div class="icon">📄</div>
      <h3>No bills found</h3>
      <p>Try changing the date range</p>
    </div>
  </ng-template>

</div>
