<div class="stock-page">

  <!-- HEADER -->
  <div class="header">
    <div class="title">
      <h1>Stock Management</h1>
      <p class="subtitle">Add / reduce daily stock</p>
    </div>

    <div class="search-bar">
      <input type="text" placeholder="Search product..." [(ngModel)]="searchTerm" />
    </div>
  </div>
  <div class="filter-badge" *ngIf="filterType">
    Showing:
    <strong>
      {{ filterType === 'low' ? 'Low Stock' : 'Out of Stock' }}
    </strong>
  </div>

  <!-- STOCK TABLE -->
  <div class="table-wrap">
    <table>

      <thead>
        <tr>
          <th>Product</th>
          <th>Unit</th>
          <th>Current</th>
          <th>Minimum</th>
          <th>Change</th>
          <th>Reason</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let p of filteredStocks">

          <td class="name">{{ p.name }}</td>

          <td>
            {{ p.unit_label }}
            <small>({{ p.unit_value }} {{ p.base_unit }})</small>
          </td>

          <td>
            <span class="qty" [class.low]="p.current_qty <= p.min_qty">
              {{ p.current_qty }}
            </span>
          </td>

          <td>{{ p.min_qty }}</td>

          <td>
            <input type="number" [(ngModel)]="p.change_qty" placeholder="+ / - qty" />
          </td>

          <td>
            <select [(ngModel)]="p.reason">
              <option value="DAILY_REFILL">REFILL</option>
              <option value="USAGE">USAGE</option>
              <option value="WASTAGE">WASTAGE</option>
              <option value="ADJUSTMENT">ADJUSTMENT</option>
            </select>
          </td>

          <td>
            <button class="update" (click)="updateStock(p)">
              Update
            </button>
          </td>

        </tr>
      </tbody>

    </table>
  </div>

</div>